body {
  background-color: rgb(217, 221, 235);
  font-family: "Nunito", sans-serif;
  height: 100vh;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

#header {
  height: 6rem;
  font-family: "Baloo 2", cursive, sans-serif;
  font-size: 3.5rem;
  padding: 1rem;
  text-align: left;
}

#leftMenu {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

#canvasArea {
  width: 100%;
  height: 100%;
}

#etchy {
  display: grid;
  width: 600px;
  height: 600px;
  background-color: white;
  border-style: solid;
  border-color: rgb(201, 201, 201);
  border-width: 1px;
  margin: 0 auto;
}

.canvasSquare {
  background-color: white;
  border-style: solid;
  border-color: rgb(201, 201, 201, 0.4);
  border-width: 1px;
}

/* glow settings */

.glowText {
  color: blue;
  text-shadow: 0 0 3px rgb(53, 53, 240);
}

/* widget for adjusting grid size */
/* #setSquares {
  min-width: 100%;
} */

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "label label label label"
    "minus sizer span plus";
  font-size: medium;
}

#labelBlock {
  grid-area: label;
  justify-self: center;
}

#minusBtn {
  grid-area: minus;
  justify-self: end;
  align-self: center;
  border: 1px solid rgb(144, 144, 255);
  border-right: none;
  border-bottom-left-radius: 9px;
  border-top-left-radius: 9px;
}

#displaySize {
  grid-area: sizer;
  text-align: center;
  padding-right: 1px;
  justify-self: center;
  background-color: rgb(234, 247, 255);
  align-self: center;
  border-top: 1px solid rgb(144, 144, 255);
  border-bottom: 1px solid rgb(144, 144, 255);
  width: 100%;
}

#spanBlock {
  grid-area: span;
  background-color: rgb(234, 247, 255);
  align-self: center;
  font-family: "Nunito", sans-serif;
  font-size: medium;
  padding: 1px 0px;
  border-top: 1px solid rgb(144, 144, 255);
  border-bottom: 1px solid rgb(144, 144, 255);
  color: blue;
}

#plusBtn {
  grid-area: plus;
  justify-self: start;
  align-self: center;
  border: 1px solid rgb(144, 144, 255);
  border-left: none;
  border-bottom-right-radius: 9px;
  border-top-right-radius: 9px;
}

/* switch off spinners, which appears to work **MDN advises this is non-standard!** */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  margin: 0;
}

#currentSize {
  border: none;
  color: blue;
  background-color: transparent;
  text-align: center;
  width: auto;
  font-family: "Nunito", sans-serif;
  font-size: medium;
}

#currentSize:hover {
  font-weight: bolder;
  color: blue;
  text-shadow: 0 0 3px rgb(94, 94, 200);
}

.sizeControls {
  background-color: rgb(234, 247, 255);
  z-index: 1;
}

.sizeBtn {
  border: none;
  background-color: rgb(234, 247, 255);
  border-radius: 9px;
  width: 25px;
  font-family: "Poppins", sans-serif;
  color: blue;
  text-align: center;
  height: 1.4rem;
}

.sizeBtn:hover {
  background-color: rgb(198, 233, 255);
}

.sizeBtn:active {
  background-color: rgb(130, 182, 215);
}

/* toolTip for bad inputs */

.hideError {
  display: none;
}

.showError {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

#toolTip {
  border-radius: 5px;
  background-color: rgb(100, 100, 100);
  color: rgb(245, 245, 245);
  position: relative;
  bottom: 7px;
  left: 70px;
  opacity: 0.8;
  z-index: 1;
}

#closeToolTip {
  align-self: flex-start;
}

#errorMsg {
  margin-top: 10px;
  align-self: flex-end;
  padding-left: 3px;
  padding-bottom: 5px;
}

/* clear the grid button */
#clearCanvas {
  padding-top: 20px;
  margin: 0px auto;
}

#clearBtn {
  border: none;
  background-color: rgb(234, 247, 255);
  border-radius: 5px;
  text-align: center;
  padding: 3px 0px;
  color: blue;
  font-family: "Nunito", sans-serif;
  font-size: medium;
  font-weight: bolder;
  border: 1px solid rgb(144, 144, 255);
  min-width: 150px;
  max-width: 155px;
}

#clearBtn:hover {
  border: 1px solid rgb(95, 95, 255);
  box-shadow: 0px 0px 1px 3px rgb(134, 134, 255);
  background-color: rgb(219, 241, 255);
  font-weight: bolder;
  text-shadow: 0 0 1px rgb(145, 145, 182);
}

#clearBtn:active {
  background-color: rgb(130, 182, 215);
  color: rgb(216, 216, 246);
  text-shadow: 0 0 2px rgb(187, 187, 207);
}

/* color picker */

#selectColor {
  margin: 0 auto;
  padding-top: 20px;
}

/* grayscale shades */

[data-bkgd="gray1"] {
  background-color: #f0f0f0;
}

[data-bkgd="gray2"] {
  background-color: #e4e4e4;
}

[data-bkgd="gray3"] {
  background-color: #c6c6c6;
}

[data-bkgd="gray4"] {
  background-color: #acacac;
}

[data-bkgd="gray5"] {
  background-color: #888888;
}

[data-bkgd="gray6"] {
  background-color: #6e6e6e;
}

[data-bkgd="gray7"] {
  background-color: #585858;
}

[data-bkgd="gray8"] {
  background-color: #373737;
}

#moreOptions {
  min-width: 80px;
  min-height: 200px;
}

#footer {
  height: 50px;
  margin-top: auto;
}

#modeArea {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

/* mode styling */

.mode {
  padding: 5px;
  margin: 3px auto;
  color: blue;
  border: 1px solid rgb(144, 144, 255);
  border-radius: 9px;
  background-color: rgb(234, 247, 255);
  min-width: 150px;
  max-width: 155px;
  align-items: baseline;
}

.mode:hover {
  border: 1px solid rgb(95, 95, 255);
  box-shadow: 0px 0px 1px 3px rgb(134, 134, 255);
  background-color: rgb(219, 241, 255);
  font-weight: bolder;
  text-shadow: 0 0 1px rgb(145, 145, 182);
}

.mode:active {
  color: rgb(234, 234, 255);
  text-shadow: 0 0 2px rgb(0, 0, 255);
  background-color: rgb(68, 172, 236);
}

.activeMode {
  color: rgb(234, 234, 255);
  text-shadow: 0 0 2px rgb(0, 0, 255);
  background-color: rgb(68, 172, 236);
}

.activeMode:hover {
  color: rgb(234, 234, 255);
  text-shadow: 0 0 2px rgb(0, 0, 255);
  background-color: rgb(68, 172, 236);
  box-shadow: none;
}

/* color input */

#color {
  height: 22px;
  align-items: flex-start;
}

#picker {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: center;
  margin-left: auto;
  padding-right: 5%;
  width: 30px;
}

#picker::-webkit-color-swatch {
  border-radius: 3px;
  border: none;
}

#picker::-moz-color-swatch {
  border-radius: 3px;
  border: none;
}

.textLabel {
  padding-left: 2px;
}

.modeIcon {
  height: 15px;
  width: auto;
  margin-left: auto;
  padding-right: 7%;
}

#blackSwatch {
  height: 18px;
  width: 18px;
  background-color: black;
  border-radius: 3px;
  align-self: center;
  margin-left: auto;
  margin-right: 5%;
}
